[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.riverbankcomputing.com/pypi/simple/"
verify_ssl = true
name = "riverbank"
# build packages are added here since the github runners need it but don't have psychopg.

[packages]
sip = "==6.8.6"
pyqt5 = "==5.15.9"
pyqt5-sip = "==12.15.0"
pyqt5-qt5 = "==5.15.2"
# qmlcontext.tests
pytest = "*"
pytest-qt = "*"
pytest-mock = "*"
mock = "*"

[dev-packages]
pyqt-builder = { index="riverbank" } # "==1.16.4"
pyqtdeploy = { index="riverbank" }

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
